.btn {
    box-shadow: 8px 6px 17px rgba(222, 53, 112, 0.12);
    border-radius: 12px;
    font-family: $headings-font-family;
    font-weight: 500;
    font-size: .9rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    min-width: 200px;
    
    &.btn-white {
        background: white;
        box-shadow: 8px 6px 17px rgba(152, 152, 152, 0.12);        
    }
    &.btn-transparent {
        background: transparent;
        box-shadow: none;
    }
    &.btn-secondary {
        color: white;
    }
    img {
        max-width: 1rem;
        margin-right: 7px;
    }

    &:before{
      content: '';
      display: block;
      position: absolute;
      background: rgba(255,255,255,0.5);
      width: 60px;
      height: 100%;
      left: 0;
      top: 0;
      opacity: .5;
      filter: blur(30px);
      transform: translateX(-100px)  skewX(-15deg);
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      background: rgba(255,255,255,0.2);
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100px) skewX(-15deg);
    }
    &:hover{
    //   background: inherit;
      cursor: pointer;
      &:before{
        transform: translateX(300px)  skewX(-15deg);  
        opacity: 0.6;
        transition: .7s;
      }
      &:after{
        transform: translateX(300px) skewX(-15deg);  
        opacity: 1;
        transition: .7s;
      }
    }
}