input, textarea {
    max-width: 100%;
    width: 100%;
    line-height: 2;
    background: #f3f3f5;
    background: rgba(147, 147, 156, 0.1);
    border-radius: 12px;
    box-shadow: none;
    border: 1px solid #d6d6e2;
    padding: 4px 20px;
    transition: background .3s ease-in-out;
    &:focus {
        outline: none;
        background: rgba(147, 147, 156, 0.16);    
    }
}
textarea {
    line-height: 1.4;
    padding: 12px 20px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.btn {
    cursor: pointer;
    transition: all .3s ease-in-out;
    &.loading {
        &:after {
          content: '';
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 2px solid #cccccc42;
          border-top-color: #fff;
          animation: spinner .6s linear infinite;
          display: inline-block;
          margin-left: 15px;
          margin-bottom: -2px;
        }
    }
}

input,textarea {
    color: #292929;
}
.light {
    input,textarea {
        color: white;        
    }
}

.form-group {
    margin-bottom: 18px;
    position: relative;
    .alert {
        background: transparent;
        color: #e42456;
        margin: 5px 0 20px;
        padding: 0;
        position: absolute;
        font-size: 1.1rem;
        top: 100%;
    }
}
.form-group:not(.radio_buttons) {
    label {
        font-size: .8rem;
        font-weight: 600;
    }
}

.form-field-h, .hidden {
    display: none;
}

.cta-form {
    position: relative;
    background: transparent;
    visibility: hidden;
    
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        border: 50px solid #f7f7f7;
        transform: scale(0) translate3d(50%,50%,0);   
        transition: all .4s ease-in-out;
        transform-origin: bottom right;   
        border-radius: 50%;  
        z-index: -1;
    }

    border-radius: 8px;
    transition: background .4s ease-in-out .4s, max-height .4s ease-in-out, width .4s ease-in-out .4s, border-radius .4s ease-in-out .4s;    
    
    width: 450px;
    max-width: 100%;
    max-height: 300px;
    position: fixed;
    right: 0rem;
    bottom: 1rem;
    @include media-breakpoint-up(sm) {
        right: 3rem;
        bottom: 2rem;
    }
    z-index: 100;
    padding: 20px;
    overflow: hidden;    
    box-shadow: 3px 8px 7px rgba(0, 0, 0, 0.25);
    
    > * {
        opacity: 0;
        transition: opacity .4s ease-in-out;
    }
    .open-icon {
        visibility: visibile;
        opacity: 1;
        transition: opacity .4s ease-in-out .8s, max-height .4s ease-out .8s; 
        max-height: 60px; 
        font-size: 28px;
        svg {
            max-width: 40px;
        }
        path {
            stroke: white;
        }      
    }
    &.active {
        visibility: visible;    
        transition: background .4s ease-in-out, max-height .4s ease-in-out .4s, width .4s ease-in-out, border-radius .4s ease-in-out;

        &:before {
            transform: scale(10) translate3d(50%,50%,0);            
        }
        > * {
            opacity: 1;
            transition: opacity .4s ease-in-out .4s, max-height .4s ease-out;        
        }
        .open-icon {
            visibility: hidden;
            opacity: 0;
            max-height: 0;               
        }
    }
    h2.section {
        padding: 0 0 10px 0;
        margin: 0;
        font-size: 30px;
    }
    .h5 {
        margin-top: 0;
        font-weight: bold;
    }
    .btn {
        min-width: auto;
        max-width: none;
        margin-left: -22px;
        line-height: 1.8;
        @include media-breakpoint-down(md) {
            line-height: 1.6;
            font-size: 20px;
        }
    }
    .close-icon {
        float: right;
        margin-top: 5px;
        .line {
            background: #a9a9a9;
        }
    }
}