@font-face {
  font-family: 'icomoon';
  src:  url('~/assets/fonts/icomoon.eot?ey8ptz');
  src:  url('~/assets/fonts/icomoon.eot?ey8ptz#iefix') format('embedded-opentype'),
    url('~/assets/fonts/icomoon.ttf?ey8ptz') format('truetype'),
    url('~/assets/fonts/icomoon.woff?ey8ptz') format('woff'),
    url('~/assets/fonts/icomoon.svg?ey8ptz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telephone:before {
  content: "\e76a";
}
.icon-tablet:before {
  content: "\e7ab";
}
.icon-chart-growth:before {
  content: "\e7fb";
}
  