.pagination {
    margin: 40px 0;
    padding: 0;
    display: inline-block;
    font-weight: bold;
    li {
        color: $primary;        
        float: left;
        list-style: none;
        position: relative;
        &.active {
            cursor: default;
        }
        &.active:after {
            transform-origin: center right;
            transform: scaleX(1);            
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 80%;
            height: 2px;
            top: 50%;
            left: 10%;
            margin-top: -2px;
            background: $primary;
            transform-origin: center left;
            transform: scaleX(0);
            transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);            
        }
    }
    a, span {
        color: $primary;
        position: relative;
        background: transparent;
        border: 0;
        padding: 10px 15px;
        line-height: 1;
        @include media-breakpoint-down(md) {	
            // font-size: 1.4rem;
        }
        cursor: pointer;

    }
    .first, .last {
        display: none;
    }
}