.hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.bg-overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 8, 64, 0.55);
  background: rgba(34, 19, 58, 0.55);
  background: rgba(38, 31, 49, 0.55);
  z-index: 0;
}