img {
    max-width: 100%;
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  clear: both;
}

.main .section:first-child {
    // padding-top: 6rem;
}

section.dark {
    background-color: #121418;
}

.wide-gutters {
	margin-right: -45px;
	margin-left: -45px;

	> .col,
	> [class*="col-"] {
		padding-right: 45px;
		padding-left: 45px;
	}
}

.no-gutters {
	margin-right: -0;
	margin-left: -0;

	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

.overlap-bottom {
    margin-bottom: -8rem;
}
.overlap-top {
    margin-top: -8.5rem !important;
    z-index: 10;
}

.overlap-top {
    margin-top: -8rem;
}

.angle-left {
    position: relative;
    &:before,
    &:after {
        background: inherit;
        content: '';
        display: block;
        height: 60%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    &:before {
        top: 0;
        @include media-breakpoint-up(md) {			
            top: 2rem;
        }
        transform: skewY(-2.5deg);
        transform-origin: 0;
    }

    &:after {
        bottom: 0;
        @include media-breakpoint-up(md) {			
            bottom: 2rem;
        }
        transform: skewY(-2.5deg);
        transform-origin: 100%;
    }
    &.light {
        background: transparent;
        &:before, &:after {
            background: #f7f8f7;
        }	
    }
    &.dark {
        background: transparent;
        &:before, &:after {
            background: #121418;
        }
    }
}
.angle-right {
    transform: rotate(4deg);
    margin-left: -70px;
    margin-right: -70px;
    >.container {
        transform: rotate(-4deg);
    }
}
.angle-overlap {
    &:before {
        top: 0;
        @include media-breakpoint-up(md) {			
            top: 10rem;
        }
    }

    &:after {
        bottom: 0;
        @include media-breakpoint-up(md) {			
            bottom: 10rem;
        }
    }
}


// Colors
$bg-color: rgb(247, 247, 247);
$dot-color: #cdd6cf;

// Dimensions
$dot-size: 3px;
$dot-space: 22px;

.bg-texture {
    width: 30%;
    height: 100%;
    position: absolute;
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}

.b-w {
    img {
        filter: grayscale(100%);
        opacity: .5;
    }
}