html {
	font-size: 22px;
}
html {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	@include media-breakpoint-down(md) {	
		font-size: 20px;
	}
}

a {
	transition: all .2s ease-in-out;
	&:hover {
		color: $primary;
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	margin-bottom: 1.5rem;
	font-weight: 600;	
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: $dark-headings-color;
}
.dark, section.dark {
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		color: $headings-color;
	}
	a {
		color: white;
	}
}
.light, section.light {
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		color: $dark-headings-color !important;
	}
	a:not(.btn) {
		color: black !important;
	}
}

.primary {
	color: $primary;
}
.primary-bg {
	background-color: $primary;
}

.overlay-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

strong {
	color: #52595f;
}

h1, .h1, .display-1 {
	line-height: 1.3;
	@include media-breakpoint-down(md) {	
		// font-size: 2.8rem;
	}
}

h2, .h2 {
	@include media-breakpoint-down(md) {	
		// font-size: 2.2rem;
	}
}

h3, .h3 {
	margin-bottom: 15px;
	@include media-breakpoint-down(md) {	
		// font-size: 1.6rem;
	}
}
h5, .h5 {
	color: #97a09c;
}

.bg-text {
	font-size: 5rem;
	line-height: 1;
    font-weight: bold;
    z-index: 0;
	opacity: .04;
	display: block;
	margin-bottom: -2rem;
	@include media-breakpoint-up(md) {			
		font-size: 15rem;
		margin-left: -6rem;
		margin-bottom: -6rem;
	}
	text-transform: lowercase;
	position: relative;

	&:before {
		content: '— ';
		display: inline-block;
		position: absolute;
		right: 100%;
	}
}

.wf-loading {
	h1, h2, h3, h4, h5, h6, p, span {
		visibility: hidden;
	}
}
.wf-active {
	h1, h2, h3, h4, h5, h6, p, span {
		visibility: visible;
	}
}

ul.list-styled {
	list-style-type: none;
	li::before {
		display:          inline-block;
		vertical-align:   middle;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $primary;
		margin-right: 15px;
		content: " ";
		margin-left: -23px;
	}
} 

.highlight {
	padding: 20px;
	background: #9494b3;
	border: 1px solid #797d8a;
	margin-bottom: 30px;
	color: white;
}

.text-line {
	display: flex;
	align-items: center;
	&:before {
		content: '';
		height: 2px;
		background: black;
		width: 80px;
		display: block;
		float: left;
		margin-right: 10px;
		position: relative;
		top: 50%;
		margin-top: -1px;
		transition: width .2s ease-in-out;
	}
}