/*
* Colors
*/
$primary: #F4226B;
$secondary: #2ac0e2;
$headings-color: #fff;
$dark-headings-color: #222423;
$link-color: #707782;
// $body-color: #a4a7ab;
$body-color: #7e7f80;

/*
 * Fonts
 */
$headings-font-family: 'aktiv-grotesk', "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: 'canada-type-gibson', "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: 'CeraBasic-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
// $font-family-sans-serif:  'Merriweather', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif:  'aktiv-grotesk', "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 300;
$headings-line-height: 1.3;
$nav-font-family: 'Museo Sans';
$nav-font-weight: 800;
$nav-link-padding-y: .5rem;
$nav-link-padding-x:  1rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1240px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

/*
 * Typography
 */
$font-size-base: 1rem;
$h1-font-size: 3rem;
$h2-font-size: 1.7rem;
$h3-font-size: 1.2rem;
$h4-font-size: 1rem;
$h5-font-size: 0.8rem;
$h6-font-size: 0.7rem;

$display1-size: 6rem;
// $font-size-h2: 36px;
// $font-size-h3: 24px;
// $font-size-h4: 24px;
// $font-size-h5: 14px;
// $grid-float-breakpoint: 1000px;
// $grid-gutter-width: 60px;
// $navbar-height: 88;
// $navbar-default-color: #fff;
// $navbar-default-link-color: #fff;
// $navbar-default-link-hover-color: #f7f7f7;
// $navbar-default-link-active-color: #fff;
// $container-lg: 1200px;
// $navbar-default-toggle-border-color: transparent;
// $navbar-default-bg: transparent;
// $navbar-default-link-active-bg: transparent;
// $link-color: #000;
// $link-hover-color: $accent;
// $link-hover-decoration: none;
// $brand-primary: $accent;
// $btn-default-border: #707070;
// $btn-border-radius-base: 0px;

/**
 * Buttons
 */
$btn-padding-y: 0.5rem;
$btn-padding-x: 1.2rem;