<template>
  <div class="service-page">
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 v-html="service.title.rendered"></h1>
            <div v-html="service.content.rendered"></div>  
          </div>
        </div>
      
      </div>
    </section>

    <img src="~assets/images/bg-web-design.jpeg">

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>What it can do for you</h3>
          </div>
          <div class="col-md-8">
            <div v-html="service.acf.why"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="section pt-0">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Why us</h3>
          </div>
          <div class="col-md-8">
            <div v-html="service.acf.our_process"></div>
          </div>
        </div>
      </div>
    </div>

    <section class="section" v-if="testimonial">
      <div class="container">
        <div class="row">
          <div class="col-md-9 mx-auto">
            <Testimonial :testimonial="testimonial" />
          </div>
        </div>
      </div>
    </section>

    <section class="cta text-center section dark">
      <h2>Need help with your {{ service.title.rendered.toLowerCase() }}?</h2>
      <nuxt-link to="/contact" class="btn btn-primary">Get your free consultation</nuxt-link>
    </section>

  </div>
</template>

<script>
import axios from '~/plugins/axios'
import Testimonial from '~/components/Testimonial'

export default {
  components: {
    Testimonial
  },
  async asyncData ({env, params}) {
    let services = await axios.get(`/services?slug=${params.service}&per_page=1`)
    let testimonial = null
    if (services.data[0].acf.related_testimonial) {
      testimonial = await axios.get(`/testimonials/${services.data[0].acf.related_testimonial}`)
    }
    return {
      service: services.data[0],
      testimonial: testimonial ? testimonial.data : null
    }
  }
}
</script>

<style lang="scss">
.about-hero {
  background-image:url('~assets/images/bg-web-design.jpeg');
  background-size: cover;
}
</style>
