<template>
  <div>

    <section class="section">
      <div class="container">
          <div class="row">
            <div class="col-md-8">
              <span>Services</span>
              <!-- <h1>Building digital products so you can focus on your core business.</h1> -->
              <h1>We'll handle the digital stuff, you focus on your core business.</h1>
            </div>
          </div>
      </div>
    </section>

    <section class="angle-left light">
      <div class="container">
        <div class="row">
          <IconBox class="col-md-4" v-for="item in services" :item="item" :key="item.id"></IconBox>
        </div>
      </div>
    </section>

    <section class="cta text-center section dark">
      <h2>Don't see a service you're looking for?</h2>
      <nuxt-link to="/contact" class="btn btn-primary">Ask us about it</nuxt-link>
    </section>

  </div>
</template>

<script>
import axios from '~/plugins/axios'
import IconBox from '~/components/IconBox.vue'

export default {
  components: {
    IconBox
  },
  async asyncData ({env, params}) {
    let services = await axios.get(`/services?_embed`)
    return {
      services: services.data
    }
  }
}
</script>

