<template>
  <div class="article">
    <nuxt-link :to="`/blog/${article.slug}`">
      <div class="img-container">
        <div v-if="!article.better_featured_image">
          <!-- {{ article.better_featured_image.media_details }} -->
        </div>
        <img :src="article.better_featured_image.media_details.sizes.blog.source_url" v-if="article.better_featured_image && article.better_featured_image.media_details.sizes.blog" />
      </div>
      <h3 v-html="article.title.rendered"></h3>
      <small class="article-date">{{ date }}</small>
      <!-- <div class="description" v-html="article.excerpt.rendered"></div> -->
      <div class="read-more h6">Read more</div>
    </nuxt-link>
  </div>
</template>

<script>
import fecha from 'fecha'

export default {
  props: {
    article: Object
  },
  computed: {
    date () {
      return fecha.format(new Date(this.article.date), 'mediumDate')
    }
  }
}
</script>

<style lang="scss">
  .article {
    margin-bottom: 60px;
    .img-container {
      transition: transform .4s cubic-bezier(0.3, 0.1, 0.45, 1);
      margin-bottom: 20px;
    }
    img {
      max-width: 100%;
    }
    .article-date {
      margin-bottom: 20px;
      display: block;
    }
    &:hover {
      .img-container {
        transform: scale(.9);
      }
    }
    .read-more {
      align-items: center;
      display: flex;
      &:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 1px;
        background: black;
        margin-right: 5px;
      }
    }
    &:nth-child(even) {
      margin-top: 80px;
    }
  }
</style>
