<template>
  <div class="client-logo b-w">
    <img :src="client.better_featured_image.media_details.sizes.medium.source_url" v-if="client.better_featured_image">
  </div>
</template>

<script>
export default {
  props: {
    client: Object
  }
}
</script>

<style lang="scss">
  .client-logo {
    text-align: center;
    img {
      max-width: 250px;
      max-height: 110px;
    }
  }
</style>
