<template>
  <div class="comment" :class="'depth-' + depth">
    <div class="row">
      <img class="avatar" :src="comment.author_avatar_urls['96']" v-if="comment.author_avatar_urls" />
      <div class="col">
        <div class="comment-meta h5">
          <span class="author-name">{{ comment.author_name }}</span>
          <span class="comment-datetime">{{ datetime }}</span>
        </div>
        <div class="comment-content" v-html="comment.content.rendered"></div>
        <a href="#" class="reply-to h4" @click.prevent="changeReplyTo" v-if="depth < 3">Reply</a>   
        <CommentForm v-if="$store.state.replyToComment === comment" />   
        <div class="comment-children">
          <Comment
            v-if="children.length"
            v-for="childComment in children"
            :key="childComment.id"
            :comment="childComment"
            :depth="depth + 1">
          </Comment>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CommentForm from '~/components/CommentForm'
import fecha from 'fecha'

export default {
  components: {
    CommentForm
  },
  props: {
    comment: Object,
    depth: Number
  },
  computed: {
    children () {
      var _this = this
      return this.comments.filter(function (el) {
        return el.parent === _this.comment.id;
      })
    },
    comments () {
      return this.$store.state.comments
    },
    datetime () {
      return fecha.format(new Date(this.comment.date), 'MMM DD YYYY HH:mm')
    }
  },
  methods: {
    changeReplyTo () {
      this.$store.commit('setReplyToComment', this.comment);
    }
  }
}
</script>

<style lang="scss">
.comment {
  padding-top: 40px;
}
.avatar {
  height: 60px;
  padding-left: 10px;
  border-radius: 50%;
  margin-right: 20px;
}
.comment-meta {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  .author-name {
    float: left;
  }
}
.comment-datetime {
  float: right;
}
.reply-to {
  font-weight: bold;
  color: black;
}
</style>
