<template>
  <div class="comment-form">
    <h4 v-if="!$store.state.replyToComment">Leave a comment</h4>
    <h4 v-if="$store.state.replyToComment">Reply to {{$store.state.replyToComment.author_name }}</h4>
    <a v-if="$store.state.replyToComment" @click="cancelReplyToComment">Cancel Reply</a>
    <form v-on:submit.prevent="postComment" ref="form">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Name</label>
            <input name="name" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Email</label>        
            <input name="email" type="email" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Website</label>        
        <input name="website" />
      </div>
      <div class="form-group">
        <label>Content</label>        
        <textarea name="content" />
      </div>
      <div class="btn btn-primary" @click="postComment" :class="{'loading': isSubmitting}" :disabled="isSubmitting" >Submit</div>
    </form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: {
    replyToComment: Object,
  },
  data () {
    return {
      isSubmitting: false      
    }
  },
  methods: {
    postComment () {
      var _this = this
      var formData = new FormData(this.$refs.form)
      var params = {
        author_name: formData.get('name'),
        author_email: formData.get('email'),
        author_url: formData.get('website'),                
        content: formData.get('content'),
        parent: this.$store.state.replyToComment ? this.$store.state.replyToComment.id : 0,
        post: this.$store.state.article.id
      }
      _this.isSubmitting = true
      axios.post(`${process.env.apiUrl}/comments`, params )
        .then(response => {
          if (response.data.id) {
            _this.$toast.success('Thanks for your comment! We\'ll approve it shortly.').goAway(5000)
            _this.$store.commit('addComment', response.data)
            _this.$store.commit('setReplyToComment', null)
          }
          _this.isSubmitting = false   
          _this.$refs.form.reset()       
        })
        .catch(error => {
          _this.$toast.error(error.response.data.message).goAway(5000)
          _this.isSubmitting = false                    
        });
    },
    cancelReplyToComment () {
      this.$store.commit('setReplyToComment', null);      
    }
  }
}
</script>

<style lang="scss">
.comment-form {
  margin-top: 30px;
}
</style>

