<template>
  <div class="comments">
    <Comment v-for="comment in comments" :key="comment.id" :comment="comment" :comments="comments"></Comment>
  </div>
</template>

<script>

export default {
  props: {
    comments: null
  },
}
</script>
