<template>
  <div class="connector overlap-top"></div>
</template>

<style lang="scss">
@import '../assets/scss/base/shared.scss';

.connector {
	height: 150px;
	background: $gray-400;
	width: 1px;
	display: block;
	position: relative;
	margin: 40px auto;
	&:before {
		content: '';
		position: absolute;
		top: 100%;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: $gray-400;
		margin-top: -8px;
		margin-left: -8px;
	}
	&:after {
		content: '';
		position: absolute;
		top: 100%;
		display: block;
		content: "";
		border-radius: 50%;
		width: 24px;
		height: 24px;
		background: $gray-400;
		margin-left: -12px;
		margin-top: -12px;
		border: 3px solid #fff;
		transition: transform .3s cubic-bezier(.4,0,0,1);
		animation: pulse-me 3s linear infinite;
	}
}

@keyframes pulse-me{
	0%{
		transform: scale(0.5);
		opacity: 0;
	}
	50%{
		opacity: 0.1;
	}
	70%{
		opacity: 0.09;
	}
	100%{
		transform: scale(5);
		opacity: 0;
	}
}

</style>
