<template>
  <section class="cta text-center section dark">
    <Connector></Connector>    
    <h2>Ready to become a leader in your industry?</h2>
    <!-- <p>Reach out to us and let's see if we can't grow your business.</p> -->
    <nuxt-link to="/contact" class="btn btn-primary">Get your free consultation</nuxt-link>
  </section>
</template>

<script>
import Connector from '~/components/Connector'

export default {
  components: {
    Connector
  },
  props: {
    heading: String,
    text: String,
    url: String,
    linkText: String
  }
}
</script>
