<template>
  <div class="service">
    <nuxt-link :to="link" :class="link ? 'no-link' : ''">
      <div class="service-image" v-if="item.better_featured_image">
        <div class="blob blob-1" :style="blobColor"></div>
        <div class="blob blob-2" :style="[blobStyle, blobColor]"></div>
        <img :src="item.better_featured_image.source_url" />        
      </div>
      <h3 class="service-name">{{ item.title.rendered }}</h3>
      <div class="service-description" v-html="item.excerpt.rendered"></div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    item: Object
  },
  computed: {
    blobStyle () {
      var randomSkew = Math.random() * (45 - 0) * (Math.random() < 0.5 ? -1 : 1)
      var randomLeft = Math.random() * (35 - 20) + 20
      return {
        left: `${randomLeft}px`,
        transform: `skewY(${randomSkew}deg) scale(.8)`
      }
    },
    blobColor () {
      return {
        background: this.item.acf.color
      }
    },
    link () {
      // if (this.item.content && this.item.content.rendered) {
        return '/services/' + this.item.slug
      // }
      // return '#'
    }
  }
}
</script>

<style lang="scss">
  .service {
    margin-bottom: 60px;
    img {
      width: 50px;
      margin-bottom: 20px;
      z-index: 2;
    }
    .service-image {
      position: relative;
    }
    .blob {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 30px;
      content: '';
      display: block;
      background: purple;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transform: skewY(-8deg);
      opacity: .3;
      transition: transform .4s ease-in-out;
      animation: skewing 4s 0s ease-in-out infinite;
      animation-play-state: paused; 
      animation-fill-mode: forwards;
    }
    .blob-2 {
      left: 35px;
      top: 2px;
      transform: skewY(35deg) scale(.8);
    }
    &:hover .blob-1 {
      animation-play-state: running; 
    }
  }

  @keyframes skewing {
    0% { transform: skewX(8deg); }
    10% { transform: skewX(-8deg); }
    20% { transform: skewX(4deg); }
    30% { transform: skewX(-4deg); }
    40% { transform: skewX(10deg); }
    50% { transform: skewX(-6deg); }
    55% { transform: skewX(8deg); }
    60% { transform: skewX(-5deg); }
    65% { transform: skewX(5deg); }
    70% { transform: skewX(-8deg); }
    75% { transform: skewX(8deg); }
    80% { transform: skewX(-3deg); } 
    85% { transform: skewX(3deg); }
    90% { transform: skewX(-6deg); } 
    95% { transform: skewX(6deg); }
    100% { transform: skewX(1deg); }
  }
</style>
