<template>
  <transition name="modal-fade">
    <div class="modal-overlay" @click.stop="close" v-if="isOpen">
      <div class="modal"
        role="dialog"
        @click.stop>
        <header class="modal-header">
          <slot name="header">
            <div class="close-icon" @click="close">
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </slot>
        </header>
        <section class="modal-body">
          <slot>
            I'm the default body!
          </slot>
        </section>
        <footer class="modal-footer">
          <slot name="footer">
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    data() {
      return {
        isOpen: false
      }
    },
    methods: {
      open() {
        this.isOpen = true
      },
      close() {
        this.isOpen = false
      },
    },
  };
</script>

<style lang="scss">
  .modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
  }

  .modal {
    background: transparent;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 800px;
    height: 600px;
    max-height: 80vh;
  }

  .modal-header,
  .modal-footer {
    padding: 5px;
    display: block;
  }

  .modal-header {
    justify-content: space-between;
    .close-icon {
      float: right;
    }
  }

  .modal-footer {
    justify-content: flex-end;
  }

  .modal-body {
    position: relative;
    padding: 20px 10px;
    background: white;
  }

</style>