<template>
  <div class="navbar" :class="{'dark': inDarkSection}">
    <nuxt-link to="/" class="navbar-brand">
      <img width="98" height="48" class="brand-dark" src="~assets/images/logo-dark.png">
      <img width="98" height="48" class="brand-light" src="~assets/images/logo-light.png">
    </nuxt-link>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="btn btn-secondary" href="#" onclick="ga('send', 'event', 'CTA', 'click', 'Lets Talk Fixed');" @click.prevent="showBookingModal">
					<img src="~assets/images/phone.svg">
					Schedule a call</a>
      </li>
      <li class="nav-item">
        <a class="nav-link burger" @click="open">
          <span class="line"></span>
          <span class="line"></span>
        </a>
      </li>
    </ul>

    <nav class="offcanvas" :class="{'active': isNavOpen}">
      <ul class="list-unstyled d-flex flex-column">
        <nuxt-link to="/about">About</nuxt-link>
        <nuxt-link to="/services">Services</nuxt-link>
        <nuxt-link to="/work">Work</nuxt-link>
        <nuxt-link to="/blog">Blog</nuxt-link>
        <nuxt-link to="/contact">Contact</nuxt-link>
      </ul>
      <div class="close-icon" @click="close">
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </nav>
		<div class="offcanvas-overlay" :class="{'active': isNavOpen}" @click="close"></div>

    <modal ref="bookingModal">
      <div class="calendly-inline-widget" data-url="https://calendly.com/echo5" style="min-width:320px;height:580px;"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    </modal>
  </div>
</template>

<script>
import Vue from 'vue'
import Modal from '~/components/Modal'

export default {
  components: { Modal },
  data() {
    return {
      isNavOpen: false,
			inDarkSection: false,
			darkSections: null,
    }
  },
  methods: {
    close () {
      this.isNavOpen = false
    },
    open () {
      this.isNavOpen = true
    },
    showBookingModal() {
      this.$refs.bookingModal.open()
    },
    checkForDarkSections () {
      var scrollTop = window.scrollY
      var inDark = false
      for (var i = 0; i < this.darkSections.length; ++i) {
        var elementTop = this.darkSections[i].offsetTop
        var elementBottom = elementTop + this.darkSections[i].clientHeight
        if ( scrollTop >= elementTop && scrollTop < elementBottom  ) {  
          inDark = true;
        }
      }
      this.inDarkSection = inDark
    }
  },
  mounted () {
		document.addEventListener("scroll", this.checkForDarkSections)
		this.darkSections = document.querySelectorAll('.dark:not(.navbar)')		
    this.checkForDarkSections()
	},
	watch: {
		'$route.path' () {
			var _this = this
			this.close()			
			setTimeout(function() {
				_this.darkSections = document.querySelectorAll('.dark:not(.navbar)')						
				_this.checkForDarkSections()
			}, 200)
		}
	}
}
</script>

<style lang="scss">
@import "../assets/scss/base/shared.scss";

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 22px;
	z-index: 100;
	@include media-breakpoint-up(md) {	
		background: transparent !important;
	}
	@include media-breakpoint-up(lg) {	
		padding: 1rem 2rem;
	}
	.navbar-nav {
		flex-direction: row;
		align-items: center;
		li {
			display: flex;
		}
	}
	.nav-item {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.navbar-brand {
		position: relative;
		padding: 0;
	}
	.brand-light {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		left: 0;
		top: 0;
	}
	.navbar-brand img, .line {
		transition: all .2s ease-in-out;
	}
}

.offcanvas.active {
  transform: translate3d(-100%,0,0);
}
.offcanvas {
	display: flex;
	align-items: center;
	padding: 3rem;
	position: fixed;
	left: 100%;
	top: 0;
	width: 100%;
	height: 100%;
	max-width: 500px;
	will-change: transform;
	background: #3e3e4a;
	z-index: 102;
	transition: transform .3s ease-in-out;
	ul {
		a {
			font-size: 2rem;
			margin-bottom: 1rem;
			font-weight: 800;
			color: #fff;
			position: relative;
			padding: 0 24px;
			&:before {
				content: '';
				height: 3px;
				background: white;
				width: 0;
				display: block;
				float: left;
				position: absolute;
				right: 100%;
				top: 50%;
				margin-top: -1px;
				transition: width .2s ease-in-out;
			}
			&:hover:before {
				width: 100px;
			}
		}
	}
	.close-icon {
		position: absolute;
		top: 20px;
		left: 3rem;
	}
}
.offcanvas-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 101;
	opacity: 0;
	visibility: hidden;
	background: rgba(26, 33, 47, 0.85);
	transition: opacity .2s ease-in-out .3s, visibility .2s ease-in-out .3s;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}


// Burger
.burger {
	display: inline-block;
    cursor: pointer;
	.line {
		background: black;
		width: 50px;
		height: 3px;
		border-radius: 2px;
		display: block;
		margin: 7px 0;
		margin-left: auto;
		&:first-child {
			width: 32px;
		}
	}
}
.dark {
	.navbar-brand {
		.brand-dark {
			visibility: hidden;
			opacity: 0;
		}
		.brand-light {
			opacity: 1;
			visibility: visible;
		}
	}
	.burger .line {
		background: white;
	}
}

// Close
.close-icon {
	display: inline-block;
	cursor: pointer;
	height: 32px;
	width: 32px;
	.line {
		transition: transform .3s ease-in-out;
		top: 50%;
		position: relative;
		background: #fff;
		width: 32px;
		height: 2px;
		border-radius: 2px;
		display: block;
		margin: 0 0 -2px;
		margin-left: auto;
		transform: rotate(45deg);
		&:first-child {
			width: 32px;
			transform: rotate(-45deg);		
		}
	}
	&:hover {
		.line {
			transform: rotate(0deg);
		}
	}
}

@include media-breakpoint-down(sm) {	
	.navbar .btn-primary {
		position: fixed;
		bottom: 10px;
		right: 10px;
		text-align: center;
		min-width: auto;
		padding: .5rem 1.8rem;
	}
}

</style>
