<template>
  <ul class="pagination" v-if="totalPageCount != 1">
    <li v-if="currentPage > 1">
      <nuxt-link :to="{ query: { page: currentPage - 1 }}">Previous</nuxt-link>
    </li>
    <li v-for="(page, index) in pages" :key="index" :class="{'active': page === currentPage}">
      <nuxt-link :to="{ query: { page: page }}">{{ page }}</nuxt-link>
    </li>
    <li v-if="currentPage != totalPageCount">
      <nuxt-link :to="{ query: { page: currentPage + 1 }}">Next</nuxt-link>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    totalPageCount: Number,
    currentPage: Number
  },
  computed: {
    pages () {
      var numbers = []
      for(var i = this.currentPage - 4; i < this.currentPage + 4; i++) {
        if (i > 0 && i <= this.totalPageCount) {
          numbers.push(i)
        }
      }
      return numbers
    }
  }
}
</script>

<style lang="scss">
@import "../assets/scss/base/shared.scss";

.pagination {
    margin: 40px 0;
    padding: 0;
    display: inline-block;
    font-weight: bold;
    li {
        color: $primary;        
        float: left;
        list-style: none;
        position: relative;
        &.active {
            cursor: default;
        }
        &.active:after {
            transform-origin: center right;
            transform: scaleX(1);            
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 80%;
            height: 2px;
            top: 50%;
            left: 10%;
            margin-top: -2px;
            background: $primary;
            transform-origin: center left;
            transform: scaleX(0);
            transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);            
        }
    }
    a, span {
        color: $primary;
        position: relative;
        background: transparent;
        border: 0;
        padding: 10px 15px;
        line-height: 1;
        @include media-breakpoint-down(md) {	
            // font-size: 1.4rem;
        }
        cursor: pointer;

    }
    .first, .last {
        display: none;
    }
}
</style>
