<template>
  <div class="testimonial">
    <div class="testimonial-content" v-html="testimonial.content.rendered"></div>
    <img :src="testimonial.better_featured_image.media_details.sizes.thumbnail.source_url" v-if="testimonial.better_featured_image">
    <div class="testimonial-name h4">{{ testimonial.title.rendered }}</div>
    <!-- <div class="testimonial-job-title h4">{{ testimonial.title.rendered }}</div> -->
  </div>
</template>

<script>
export default {
  props: {
    testimonial: Object
  }
}
</script>

<style lang="scss">
@import '../assets/scss/base/shared';

.testimonial {
  text-align: center;
  .testimonial-content {
    font-size: 1.3rem;
    margin-bottom: 40px;
    position: relative;
    padding: 20px 40px 10px;
    &:before {
      content: '“';
      position: absolute;
      left: 0;
      top: 0px;
      font-size: 3rem;
      color: $primary;
      // font-family: $headings-font-family;
    }
  }
  img {
    border-radius: 18px;
    margin-bottom: 20px;
  }
}
</style>
