<template>
  <div class="work-item">
    <div class="work-inner">
      <nuxt-link :to="`/work/${item.slug}`">
        <div class="img-container">
          <img :src="item.better_featured_image.media_details.sizes.portfolio.source_url" v-if="item.better_featured_image">    
        </div>
        <div class="work-overlay">
          <div class="work-details">
            <!-- <span class="work-client">{{ item.title.rendered }}</span> -->
            <span class="work-title" v-html="item.title.rendered"></span>
          </div>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: Object
  },
}
</script>

<style lang="scss">
  .work-item {
    .work-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      padding: 30px;
    }
    .work-title {
      padding: 7px 18px;
      background: white;
      display: inline-block;
    }
    .img-container {
      transition: transform .4s cubic-bezier(0.3, 0.1, 0.45, 1);
      overflow: hidden;      
    }
    img {
      transition: transform .4s cubic-bezier(0.3, 0.1, 0.45, 1);
    }
    &:hover {
      .img-container {
        transform: scale(.8);
        img {
          transform: scale(1.4);
        }
      }
    }
  }

</style>
