<template>
  <div>
    <section class="section">
      <div class="container">
        <h1>Some of the technologies we love<span class="primary">.</span></h1>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
        <div class="col-md-4 tech col-12">
        <img alt="Ruby on Rails" src="https://echo5web.com/ckeditor_assets/pictures/350/original_ruby_on_rails.png" data-pagespeed-url-hash="4097222739" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
        <h3>Ruby on Rails</h3>
        <p>We love working with Ruby to create blazing fast MVPs and dynamic APIs for web applications.</p>
        <h4 style="font-size: 20px;"><a href="/ruby-on-rails-development">Learn More</a></h4>
        </div>
        <div class="col-md-4 tech col-12">
        <img alt="Laravel" src="https://echo5web.com/ckeditor_assets/pictures/353/original_laravel.png" data-pagespeed-url-hash="1956038415" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
        <h3>Laravel</h3>
        <p>By far our favorite PHP framework, Laravel&nbsp;takes the cake for building PHP-based applications.</p>
        <h4 style="font-size: 20px;"><a href="/laravel-development">Learn More</a></h4>
        </div>
        <div class="col-md-4 tech col-12">
        <img alt="Node.js" src="https://echo5web.com/ckeditor_assets/pictures/354/original_node.png" data-pagespeed-url-hash="204105579" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
        <h3>Node.js</h3>
        <p>We work with Node.js regularly to build out highly scalable applications with real-time interactions.</p>
        </div>
        <div class="col-md-4 tech col-12">
        <img alt="WordPress" src="https://echo5web.com/ckeditor_assets/pictures/358/original_wordpress.png" data-pagespeed-url-hash="2846478282" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
        <h3>WordPress</h3>
        <p>We've been working on WordPress since the beginning.&nbsp; For easy client management, it's a terrific entry-level CMS.</p>
        <h4 style="font-size: 20px;"><a href="/wordpress-development">Learn More</a></h4>
        </div>
        <div class="col-md-4 tech col-12">
        <img alt="Symphony" src="https://echo5web.com/ckeditor_assets/pictures/356/original_symphony.png" data-pagespeed-url-hash="3320595014" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
        <h3>Symphony</h3>
        <p>Enterprise-level applications can benefit from the security, stability, power, and routing offered by Symfony.</p>
        </div>
        <div class="col-md-4 tech col-12">
        <img alt="Vue.js" src="https://echo5web.com/ckeditor_assets/pictures/357/original_vue.png" data-pagespeed-url-hash="180094264" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
        <h3>Vue.js</h3>
        <p>A lightweight alternative to React, Vue is great for creating SPAs (single page applications) and incredibly fast DOM interactions.</p>
        </div>
        <div class="col-md-4 tech col-12">
        <img alt="React" src="https://echo5web.com/ckeditor_assets/pictures/355/original_react.png" data-pagespeed-url-hash="2137105151" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
        <h3>React</h3>
        <p>We build reactive real-time front-ends to create beautiful user experiences and usability.&nbsp; We also utilize React Native to build amazing mobile apps.</p>
        </div>
        <div class="col-md-4 tech col-12">
        <img alt="Angular" src="https://echo5web.com/ckeditor_assets/pictures/352/original_angular.png" data-pagespeed-url-hash="445598257" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
        <h3>Angular</h3>
        <p>Need a full enterprise&nbsp;solution for a progressive web app?&nbsp; Angular is a great choice for many complex businesses that still want the benefits of smaller reactive libraries.</p>
        </div>
        </div>
      </div>
    </section>

    <section class="cta text-center section light">
      <Connector></Connector>    
      <h2>Don't know which is best for you?</h2>
      <nuxt-link to="/contact" class="btn btn-primary">Ask us</nuxt-link>
    </section>
  </div>
</template>

<style lang="scss" scoped>
.tech {
  margin-bottom: 40px;
  img {
      max-width: 70px;
      margin-bottom: 20px;
  }
}
</style>