<template>
  <div class="single-work">

    <div class="section page-header bg-overlay dark" :style="headerStyles">
      <div class="container col-md-8 mx-auto">
        <h1 v-html="item.title.rendered"></h1>
      </div>
    </div>

    <div class="work-content" v-html="item.content.rendered"></div>

  </div>
</template>

<script>
import axios from '~/plugins/axios'
import Testimonial from '~/components/Testimonial'

export default {
  components: {
    Testimonial
  },
  async asyncData ({ app, store, params }) {
    let work = await axios.get(`/work?slug=${params.work}&per_page=1`)
    return {
      item: work.data[0]
    }
  },
  computed: {
    headerStyles () {
      return {
        'background-image': `url(${this.item.better_featured_image.source_url})`
      }
    }
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/base/shared';

  .page-header {
    min-height: 80vh;
    display: flex;
    align-items: flex-end;
    background-size: cover;
  }
  .work-content {
    img {
      height: auto !important;
    }
  }
  .project-link {
    color: $primary;
    display: block;
    margin-top: 15px;
    display: flex;
    align-items: center;
    &:before {
      display: inline-block;
      height: 1px;
      width: 100px;
      content: '';
      margin-right: 10px;
      background: $primary;
    }
  }
</style>
