<template>
  <div class="main">
    <section class="section">
      <div class="container">
        <h1>Featured Work</h1>
      </div>
    </section>

    <section>   
      <div class="container section pt-0">
        <div class="row no-gutters">
          <WorkItem class="col-md-6" v-for="item in work" :item="item" :key="item.id"></WorkItem>
        </div>
      </div>
    </section>

    <section class="cta text-center section light">
      <Connector></Connector>    
      <h2>Ready to build something awesome?</h2>
      <nuxt-link to="/contact" class="btn btn-primary">Get started</nuxt-link>
    </section>

  </div>
</template>

<script>
import axios from '~/plugins/axios'
import WorkItem from '~/components/WorkItem.vue'

export default {
  components: {
    WorkItem,
  },
  async asyncData ({env, params}) {
    let work = await axios.get(`/work?per_page=20`)
    return {
      work: work.data,
    }
  },
}
</script>