<template>
  <div>
    <Navbar/>
    <nuxt class="main" />

    <section id="footer" class="section dark">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h3>Say hello</h3>
            <a href="mailto:hello@echo5webdesign.com">hello@echo5web.com</a><br>
            <a href="tel:+1-678-667-1385">(678) 667-1385</a><br>
          </div>
          <div class="col-6 text-right">
            <ul class="social-links list-unstyled">
              <li><a target="_blank" href="https://plus.google.com/116658731333038270091/about">Google+</a></li>
              <li><a target="_blank" href="https://twitter.com/echo5webdesign">Twitter</a></li>
              <li><a target="_blank" href="https://www.linkedin.com/company/echo-5-web-design">LinkedIn</a></li>
              <li><a target="_blank" href="https://www.facebook.com/echo5webdesign">Facebook</a></li>
              <li><a target="_blank" href="https://www.behance.net/echo5webdesign">Behance</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<script>
import Modal from '~/components/Modal'
import Navbar from '~/components/Navbar'

export default {
  components: {
    Modal,
    Navbar    
  },
  data() {
    return {
      isModalVisible: false
    }
  },
  methods: {
    toggleMenu() {
      this.$refs.offcanvasNav.classList.toggle('active')
    }
  },
  mounted () {
    (function(d) {
      var config = {
        kitId: 'wzw7hck',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document)
  }
}
</script>

<style lang="scss">
@import "../assets/scss/app.scss";

</style>
