<template>
  <div class="single-article">

    <div class="section pb-3 text-center">
      <div class="container">
        <img class="mb-5" 
          :src="$store.state.article.better_featured_image.media_details.sizes['blog-single'].source_url"
          v-if="$store.state.article.better_featured_image && $store.state.article.better_featured_image.media_details.sizes['blog-single']" />        
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-2 text-right">
          <div class="author">
            <img class="author-avatar" :src="$store.state.author.avatar_urls['96']"><br/>
            <div class="author-name">{{ $store.state.author.name }}</div>
          </div>
          <p class="article-date">{{ date }}</p>
        </div>
        <div class="col-md-8">
          <h1 v-html="$store.state.article.title.rendered"></h1>        
          <div class="article-content" v-html="$store.state.article.content.rendered"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="comments">
            <Comment v-for="comment in rootComments" 
              :comment="comment" 
              :depth="1"
              :key="comment.id" />
            <CommentForm v-if="!replyToComment" :replyToComment="replyToComment" />      
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import axios from '~/plugins/axios'
import CommentForm from '~/components/CommentForm'
import fecha from 'fecha'
var hljs = require('highlight.js');
import 'highlight.js/styles/monokai.css'

export default {
  components: {
    CommentForm
  },
  data () {
    return {
      replyToComment: null
    }
  },
  async asyncData ({ app, store, params }) {
    let article = await axios.get(`/posts?slug=${params.article}&per_page=1`)
    let comments = await axios.get(`/comments?post=${article.data[0].id}`)
    let author = await axios.get(`/users/${article.data[0].author}`)
    store.commit('setArticle', article.data[0])
    store.commit('setComments', comments.data)
    store.commit('setAuthor', author.data)
  },
  mounted () {
    let targets = this.$el.querySelectorAll('code')
    targets.forEach((target) => {
      hljs.highlightBlock(target)
    })
  },
  computed: {
    rootComments () {
      var _this = this
      return this.$store.state.comments.filter(function (el) {
        return el.parent === 0;
      })
    },
    date () {
      return fecha.format(new Date(this.$store.state.article.date), 'mediumDate')
    }
  }
}
</script>

<style lang="scss">
.article-content {
  color: #333;
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 2rem;
  }
}
.author {
  line-height: 48px;
  display: inline-block;
  width: 100%;
}
.author-name {
  float: right;
}
.author-avatar {
  border-radius: 50%;
  max-width: 48px;
  float: right;
  margin-right: 20px;
}
.single-article {
  margin-bottom: 100px;
}
</style>
