<template>
  <div class="main">
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-9">
            <h1>Our ramblings on web design &amp; development.</h1>
          </div>
        </div>
      </div>
    </section>

    <div class="bg-texture"></div>

    <section class="container mt-5">
      <div class="row">
        <div class="col-md-10">
          <div class="row wide-gutters">
            <Article class="col-md-6" v-for="article in articles" :article="article" :key="article.id"></Article>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <Pagination :totalPageCount="totalPageCount" :currentPage="currentPage" />
    </div>
    
  </div>
</template>

<script>
import axios from '~/plugins/axios'
import Article from'~/components/Article.vue'
import Pagination from '~/components/Pagination.vue'

export default {
  components: {
    Article,
    Pagination
  },
  data () {
    return {
      articles: [],
    }
  },
  watchQuery: ['page'],
  key: (to) => to.fullPath,
  async asyncData ({ app, store, params, route }) {
    var currentPage = route.query.page ? route.query.page : 1
    let articles = await axios.get(`/posts?per_page=10&page=${currentPage}`)
    return {
      totalPageCount: parseInt(articles.headers['x-wp-totalpages']),
      articles: articles.data,
      currentPage: parseInt(currentPage)
    }
  }
}
</script>

<style>

</style>
