<template>
  <div>

    <section class="section">
      <div class="container">
          <span>About Echo 5</span>
          <h1>We are an Atlanta-based<br>
          digital agency.</h1>
      </div>
    </section>

    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <img alt="Echo 5 Web Design" src="~assets/images/about1.jpg">
          </div>
          <div class="col-md-7 mt-5 reveal" data-delay="600">
            <img alt="Echo 5 Team" class="bottom-overlap" src="~assets/images/about2.jpg">
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="text-center font-weight-normal">Growing your business in a digital world can be confusing.  That's why we're here.</h2>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>What we value</h2>
          </div>
          <div class="col-md-8">
            <div>
              <h3>Tangible Results</h3>
              <p>Beautiful websites are great, but a marketing tool to drive your business is better.  We focus on delivering functional and measurable products that can be optimized for your business.</p>
              <h3>Respecting budgets</h3>
              <p>No one likes surprises when it comes to billing.  We believe in being upfront about costs and providing guidance on the most effective use of your budget.</p>
              <h3>No outsourcing</h3>
              <p>We value high quality work and found that we haven't been able to deliver the same results out of house.  We manage, design, and develop internally and will never hand you off to another company.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section angle-left dark">
      <div class="container">
        <h2>
          <span class="reveal animated visible">
            <span class="reveal-content" style="opacity: 1;">Award-winning<span class="primary">.</span>  Seriously<span class="primary">.</span>
            </span>
            <span class="reveal-block" style="transform: translateX(110%);"></span>
          </span>
        </h2>
        <div class="row col-md-8">
          <table width="100%">
            <tbody>
              <tr>
                <td>unmateched style</td>
                <td>Responsive CSS</td>
              </tr>
              <tr>
                <td>CSSREEL</td>
                <td>CSSAwards</td>
              </tr>
              <tr>
                <td>Best CSS Award</td>
                <td>Design Nominees</td>
              </tr>
              <tr>
                <td>Ray Templates</td>
                <td>CSSAWDS</td>
              </tr>
              <tr>
                <td>Golden Web Awards</td>
                <td>BESTCSS</td>
              </tr>
              <tr>
                <td>CSS Design House</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h2>A few companies we've helped grow.</h2>
        <div class="row">
          <Client  class="col-md-3 mb-4" v-for="client in clients" :client="client" :key="client.id"></Client>
        </div>
      </div>
    </section>

    <section class="cta text-center section dark">
      <Connector></Connector>    
      <h2>Ready to lead your industry?</h2>
      <nuxt-link to="/contact" class="btn btn-primary">Let's do it</nuxt-link>
    </section>

  </div>
</template>

<script>
import axios from '~/plugins/axios'
import Client from '~/components/Client'

export default {
  components: {
    Client
  },
  head () {
    return {
      title: `About Echo 5`,
      meta: [
        { hid: 'description', name: 'description', content: 'Page 1 description' }
      ]
    }
  },
  async asyncData ({env, params}) {
    let clients = await axios.get(`/clients?per_page=15`)

    return {
      clients: clients.data,
    }
  },
}
</script>