<template>
  <div>
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-7 d-flex justify-content-center flex-column">
            <h1>Ready to transform your business?</h1>
            <h3 class="font-weight-normal">We promise to be as helpful as possible and only give the best advice.</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="section contact-hero bg-overlay">
      <div class="container">
          <div class="row">

            <div class="col-md-7 mx-auto">
              <form class="contact-form">
                  <h3>Free consultation</h3>   
                  <div class="row">
                    <div class="form-group col-md-6">
                        <label>Name*</label>
                        <input type="text" name="name">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Email*</label>
                        <input type="email" name="email">
                    </div>
                  </div>    
                  <div class="row">
                    <div class="form-group col-md-6">
                        <label>Phone</label>
                        <input type="phone" name="phone">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Company</label>
                        <input type="text" name="company">
                    </div>
                  </div>       
                  <div class="form-group">
                      <label>Tell us a bit about your project</label>
                      <textarea name="content"></textarea>
                  </div>
                  <input class="btn btn-primary" type="submit" value="Get My Quote">
              </form>
            </div>

          </div>
      </div>

    </section>

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>New projects</h3>
            <a href="mailto:hello@echo5web.com">hello@echo5web.com</a><br>
            <a href="tel:+1-678-667-1385">(678) 667-1385</a>
          </div>
          <div class="col-md-4">
            <h3>Interested in joining us?</h3>            
            <a href="mailto:jobs@echo5web.com">jobs@echo5web.com</a><br>
            <a href="tel:+1-678-667-1385">(678) 667-1385</a>
          </div>
          <div class="col-md-4">
            <h3>Mailing Address</h3>
            <p>2300 Holcomb Bridge<br>
            Rd. Suite 103-101<br>
            Roswell, GA 30076, USA</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="scss">
.contact-hero {
  background-image: url('~/assets/images/bg-contact.jpg');
  background-size: cover;
}
.contact-form {
  background: white;
  padding: 30px 40px;
  box-shadow: 8px 6px 17px rgba(113, 113, 113, 0.12);
  margin-top: -8rem;
  border: 1px solid black;
}
</style>
