<template>
  <div>
    <section class="section dark hero hero-home bg-overlay">
      <div class="container">
        <div class="row">
          <div class="col-9">
            <h1>We are an Atlanta<br>based digital agency<span class="primary">.</span></h1>
            <h2 class="h3 font-weight-normal">Fully customized websites, design, and custom software that focus on driving results and growing your business.</h2>
            <a href="/contact" class="btn btn-primary mt-4">Get a quote</a>
            <a href="#benefits" class="btn btn-transparent mt-4">See how we do it</a>
          </div>
        </div>
      </div>
    </section>

    <section>   
      <div class="container">
        <div class="row">
          <Client class="col b-w" v-for="client in clients" :client="client" :key="client.id"></Client>
        </div>
      </div>
    </section>

    <section class="section" id="benefits">   
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h3 class="text-line">How we help</h3>
          </div>
          <div class="col-8"> 
            <div class="row">
              <!-- <IconBox class="col-md-6" v-for="item in benefits" :item="item" :key="item.id"></IconBox> -->
              <IconBox class="col-md-6" v-for="item in services" :item="item" :key="item.id"></IconBox>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="angle-left light section angle-overlap">   
      <div class="container">

        <h2>Result-driven process<span class="primary">.</span></h2>
        <div class="row">
          <div class="col-4">
            <div class="step">
              <div class="step-image">
                <img src="~assets/images/pencil-ruler.svg">
              </div>
              <h3>1. Plan</h3>
              <div class="step-description">Discover business problems and discuss the most cost effective solutions.</div>
            </div>
          </div>
          <div class="col-4">
            <div class="step">
              <div class="step-image">
                <img src="~assets/images/cli.svg">
              </div>
              <h3>2. Build</h3>
              <div class="step-description">Design, develop, and implement solutions in agile sprints to quickly deliver products.</div>
            </div>
          </div>
          <div class="col-4">
            <div class="step">
              <div class="step-image">
                <img src="~assets/images/graph.svg">
              </div>
              <h3>3. Optimize</h3>
              <div class="step-description">Analyze and tweak to squeeze out the best performance and conversion.</div>
            </div>
          </div>
          <!-- <div class="col-8">  -->
            <!-- <div class="step">
              <div class="row">
                <div class="step-number h1 col-md-2">1</div>
                <div class="col-md-10">
                  <h3 class="step-name">Plan</h3>
                  <div class="step-description">
                    Every project begins with discussion and understanding what problems you’re facing and how we can best tackle these issues.  We brainstorm with you to bring your experience and our expertise to the table.
                  </div>
                </div>
              </div>
            </div>
            <div class="step">
              <div class="row">
                <div class="step-number h1 col-md-2">2</div>
                <div class="col-md-10">
                  <h3 class="step-name">Build</h3>
                  <div class="step-description">
                    Every project begins with discussion and understanding what problems you’re facing and how we can best tackle these issues.  We brainstorm with you to bring your experience and our expertise to the table.
                  </div>
                </div>
              </div>
            </div>
            <div class="step">
              <div class="row">
                <div class="step-number h1 col-md-2">3</div>
                <div class="col-md-10">
                  <h3 class="step-name">Optimize</h3>
                  <div class="step-description">
                    Every project begins with discussion and understanding what problems you’re facing and how we can best tackle these issues.  We brainstorm with you to bring your experience and our expertise to the table.
                  </div>
                </div>
              </div>
            </div> -->
          <!-- </div> -->
        </div>

        <h2 class="section pb-0">Latest work<span class="primary">.</span></h2>
        <div class="row no-gutters">
          <WorkItem class="col-md-6" v-for="item in work" :item="item" :key="item.id"></WorkItem>
        </div>

      </div>
    </section>

    <section class="section">   
      <div class="container">
        <div class="col-9 mx-auto">
          <div class="carousel">
            <no-ssr>
            <siema ref="siema" class="carousel-items" :current.sync="currentSlide" :options="{draggable: true, loop: true}" v-if="testimonials.length">
              <div class="slide" v-for="testimonial in testimonials" :key="testimonial.id">
                <Testimonial :testimonial="testimonial"></Testimonial>
              </div>
            </siema></no-ssr>
            <ul class="pagination">
              <li v-for="(testimonial, index) in testimonials" :key="testimonial.id" :class="{'active': currentSlide === index}">
                <a href="#" @click.prevent="goToSlide(index)">{{ index + 1 }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="cta text-center section dark">
      <Connector></Connector>    
      <h2>Ready to become a leader in your industry?</h2>
      <nuxt-link to="/contact" class="btn btn-primary">Get your free consultation</nuxt-link>
    </section>

  </div>
</template>

<script>
import axios from '~/plugins/axios'
import Article from '~/components/Article.vue'
import Client from '~/components/Client.vue'
import WorkItem from '~/components/WorkItem.vue'
import Testimonial from '~/components/Testimonial.vue'
import IconBox from '~/components/IconBox.vue'
import Cta from '~/components/Cta.vue'
import Connector from '~/components/Connector.vue'

export default {
  components: {
    Article,
    Client,
    Testimonial,
    WorkItem,
    IconBox,
    Cta,
    Connector
  },
  data () {
    return {
      currentSlide: 0
    }
  },
  async asyncData ({env, params}) {
    let clients = await axios.get(`/clients?per_page=5`)
    let work = await axios.get(`/work?per_page=2`)
    let testimonials = await axios.get(`/testimonials?per_page=4`)
    let benefits = await axios.get(`/benefits?per_page=10`)
    let services = await axios.get(`/services?per_page=4`)

    return {
      clients: clients.data,
      work: work.data,
      testimonials: testimonials.data,
      benefits: benefits.data,
      services: services.data
    }
  },
  methods: {
    goToSlide(index) {
      this.$refs.siema.goTo(index)
    }
  }
}
</script>

<style lang="scss">
@import '../assets/scss/base/shared';

.hero-home {
  background-image: url('~assets/images/bg-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel {
  text-align: center;
  .pagination {
    margin: 0;
  }
}
.step {
  background: white;
  padding: 50px 20px;
  text-align: center;
  border: 1px solid #e6e6e6;
  transition: all .4s cubic-bezier(0.3, 0.1, 0.45, 1);  
  img {
    width: 70px;
  }
  .step-image {
    margin-bottom: 30px;
  }
  &:hover {
    box-shadow: 8px 6px 17px rgba(113, 113, 113, 0.12);    
  }
}
// .step {
//   padding-bottom: 60px;
//   &:hover {
//     .step-number {
//       color: $secondary;
//       opacity: 1;
//     }
//   }
//   .step-number {
//     transition: all .2s ease-in-out;
//     font-size: 7rem;
//     color: black;
//     opacity: .15;
//     line-height: .8;
//   }
// }
</style>
